---
import { map } from "cheerio/lib/api/traversing";

import { map } from "cheerio/lib/api/traversing";

const socialLinks = [{
    name:'Twitch',
    icon: '/Logos/social/twitch.svg'
},{
    name:'Twitter',
    icon: '/Logos/social/twitter.svg'
},{
    name:'Tiktok',
    icon: '/Logos/social/tiktok.svg'
},{
    name:'Instagram',
    icon: '/Logos/social/instagram.svg'
},{
    name:'Youtube',
    icon: '/Logos/social/youtube.svg'
}]
const menu = [
  {
    name: 'Equipos',
    path: '/equipos'
  },
  {
    name: 'Calendario',
    path: '/calendario'
  },
  {
    name: 'Estadisticas',
    path: '/estadisticas'
  },
  {
    name: 'Contacto',
    path: '/contacto'
  },
  {
    name: 'Reglamento',
    path: '/reglamento'
  },
]
---
<footer class="bg-black p-20">
    <div class="flex flex-col items-center gap-10 lg:flex-row justify-between mb-10">
        <img class="w-60" src="https://kingsleague-api.herrerayepesisaac.workers.dev/static/logos/kings-league-infojobs.svg"/>
        <nav class="flex flex-col lg:grid lg:grid-cols-3 gap-4 lg:gap-0 lg:justify-between lg:gap-x-10 lg:gap-y-0">
            
            {
                menu.map(({name,path})=>(
                        <a   href={path} class="  hover:underline text-white col-span-1">{name}</a>
    
                ))
            }
        </nav>
    </div>
        
    <div class="flex  gap-5 justify-center lg:justify-start ">
        {
            socialLinks.map(({name,icon})=>(
                <a class="flex items-center bg-white rounded-full p-3">
                    <img class="w-5 invert-0 brightness-0 hover:scale-150 hover:brightness-100 transition-all hover:cursor-pointer " src={icon} alt=`${name} logo`>
                </a>
            ))
        }
    </div>
</footer>